<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.km.main.admin.mbgen.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.km.main.admin.mbgen.model.Menu" extends="RooClass.BaseMapper.BaseResultMap">
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="route_path" jdbcType="VARCHAR" property="routePath" />
    <result column="component_path" jdbcType="VARCHAR" property="componentPath" />
    <result column="menu_type" jdbcType="VARCHAR" property="menuType" />
    <result column="link_type" jdbcType="INTEGER" property="linkType" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="hidden" jdbcType="INTEGER" property="hidden" />
    <result column="is_cache" jdbcType="INTEGER" property="isCache" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    menu_id, parent_id, menu_name, route_path, component_path, menu_type, link_type, 
    sort, permission_name, icon, hidden, is_cache, valid_flag, remark, create_by, create_date, 
    last_update_by, last_update_date
  </sql>
  <select id="selectByExample" parameterType="com.km.main.admin.mbgen.model.MenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_menu_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_menu_t
    where menu_id = #{menuId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_menu_t
    where menu_id = #{menuId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.km.main.admin.mbgen.model.MenuExample">
    delete from sys_menu_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.km.main.admin.mbgen.model.Menu">
    <selectKey keyProperty="menuId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu_t (parent_id, menu_name, route_path, 
      component_path, menu_type, link_type, 
      sort, permission_name, icon, 
      hidden, is_cache, valid_flag, 
      remark, create_by, create_date, 
      last_update_by, last_update_date)
    values (#{parentId,jdbcType=BIGINT}, #{menuName,jdbcType=VARCHAR}, #{routePath,jdbcType=VARCHAR}, 
      #{componentPath,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR}, #{linkType,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{hidden,jdbcType=INTEGER}, #{isCache,jdbcType=INTEGER}, #{validFlag,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.km.main.admin.mbgen.model.Menu">
    <selectKey keyProperty="menuId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_menu_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="routePath != null">
        route_path,
      </if>
      <if test="componentPath != null">
        component_path,
      </if>
      <if test="menuType != null">
        menu_type,
      </if>
      <if test="linkType != null">
        link_type,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="hidden != null">
        hidden,
      </if>
      <if test="isCache != null">
        is_cache,
      </if>
      <if test="validFlag != null">
        valid_flag,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="routePath != null">
        #{routePath,jdbcType=VARCHAR},
      </if>
      <if test="componentPath != null">
        #{componentPath,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        #{linkType,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="hidden != null">
        #{hidden,jdbcType=INTEGER},
      </if>
      <if test="isCache != null">
        #{isCache,jdbcType=INTEGER},
      </if>
      <if test="validFlag != null">
        #{validFlag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.km.main.admin.mbgen.model.MenuExample" resultType="java.lang.Long">
    select count(*) from sys_menu_t
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_menu_t
    <set>
      <if test="record.menuId != null">
        menu_id = #{record.menuId,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.menuName != null">
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.routePath != null">
        route_path = #{record.routePath,jdbcType=VARCHAR},
      </if>
      <if test="record.componentPath != null">
        component_path = #{record.componentPath,jdbcType=VARCHAR},
      </if>
      <if test="record.menuType != null">
        menu_type = #{record.menuType,jdbcType=VARCHAR},
      </if>
      <if test="record.linkType != null">
        link_type = #{record.linkType,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.permissionName != null">
        permission_name = #{record.permissionName,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.hidden != null">
        hidden = #{record.hidden,jdbcType=INTEGER},
      </if>
      <if test="record.isCache != null">
        is_cache = #{record.isCache,jdbcType=INTEGER},
      </if>
      <if test="record.validFlag != null">
        valid_flag = #{record.validFlag,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateBy != null">
        last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateDate != null">
        last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_menu_t
    set menu_id = #{record.menuId,jdbcType=BIGINT},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      route_path = #{record.routePath,jdbcType=VARCHAR},
      component_path = #{record.componentPath,jdbcType=VARCHAR},
      menu_type = #{record.menuType,jdbcType=VARCHAR},
      link_type = #{record.linkType,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      permission_name = #{record.permissionName,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      hidden = #{record.hidden,jdbcType=INTEGER},
      is_cache = #{record.isCache,jdbcType=INTEGER},
      valid_flag = #{record.validFlag,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      last_update_by = #{record.lastUpdateBy,jdbcType=VARCHAR},
      last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.km.main.admin.mbgen.model.Menu">
    update sys_menu_t
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="routePath != null">
        route_path = #{routePath,jdbcType=VARCHAR},
      </if>
      <if test="componentPath != null">
        component_path = #{componentPath,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null">
        menu_type = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null">
        link_type = #{linkType,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="hidden != null">
        hidden = #{hidden,jdbcType=INTEGER},
      </if>
      <if test="isCache != null">
        is_cache = #{isCache,jdbcType=INTEGER},
      </if>
      <if test="validFlag != null">
        valid_flag = #{validFlag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.km.main.admin.mbgen.model.Menu">
    update sys_menu_t
    set parent_id = #{parentId,jdbcType=BIGINT},
      menu_name = #{menuName,jdbcType=VARCHAR},
      route_path = #{routePath,jdbcType=VARCHAR},
      component_path = #{componentPath,jdbcType=VARCHAR},
      menu_type = #{menuType,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      hidden = #{hidden,jdbcType=INTEGER},
      is_cache = #{isCache,jdbcType=INTEGER},
      valid_flag = #{validFlag,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where menu_id = #{menuId,jdbcType=BIGINT}
  </update>
</mapper>